# --- MIMICRY V1 SPECIFIC ---
# Data chat pribadi (Wajib di-ignore!)
data/
datasets/
*.json
*.csv
*.txt

# Model & Training outputs (Terlalu berat buat GitHub)
*.h5
*.keras
*.pickle
checkpoint/
mimicry_v1.zip

# Visualization & Logs
plots/
*.png
*.log

# Jupyter Notebook internal
.ipynb_checkpoints/
